{% extends "main/base.html" %}
{% load static %}

{% block extra_style %}
<link rel="stylesheet" href="{% static 'main/css/password_reset_confirmation.css' %}">
{% endblock %}

{% block header %}
{% endblock %}

{% block content %}
<div class="password-reset-form-container">
    <h1>Video App</h1>
    <h1>パスワードリセット</h1>
    <form method="POST" id="password-reset-form">
        {% csrf_token %}
        <p class="password-reset-form-text">{{ email }}に数字4桁の認証コードを送信しました。<br>下のテキストボックスに記入してください。</p>
        {% if form.errors %}
        <div class="password-reset-form-error">{{ form.code.errors }}</div>
        {% endif %}
        <div class="password-reset-form-field">
            {{ form.code }}
        </div>
        <p class="caption">メールが届きませんか？</p>
        <form action="{% url 'resend' token %}" method="POST">
            {% csrf_token %}
            <input type="hidden" value="{{ token }}" name="token">
            <button class="regenerate-code-btn" type="submit"><span>再送する</span></button>
        </form>
        <button type="submit" class="password-reset-form-btn" form="password-reset-form">認証してパスワード登録に進む</button>
        <p class="cancel-link">
            <a href="javascript:window.history.back()">キャンセル</a>
        </p>
    </form>
</div>
{% endblock %}

{% block footer %}
{% endblock %}